on: [ push ]
name: CI
jobs:
  build-and-test:
    runs-on: ubuntu-22.04
    container:
      # noinspection SpellCheckingInspection
      image: eclipse-temurin:11.0.23_9-jdk-jammy@sha256:f222d1e1d705cd9f66a6ece7ebde97c04da2fe8628cf9c8f606f77fecf0bd97d
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: ./gradlew buildSrc:build clean build
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: Test Reports
          path: |
            build/reports/tests/
            buildSrc/build/reports/tests/